<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title> LCRPAY - Recharges, Pay bills, Travels & Payments </title>
    <!-- favicons Icons -->
    <link rel="icon" type="image/x-icon" href="~/assets/images/resources/LCRPAY_LOGO-qjZI7a_N.png">
    <meta name="description" content="LCRPAY is Online Payment App that allows you to make instant payment with UPI. Mobile Recharge, DTH, Pay Utility Bills, Buy/Invest in Gold, Mutual Funds, Insurance & much more.">
    <meta name="keywords" content="LCRPAY, Online Payment, Recharge, Credit Card, Bill Payments, UPI payments">

    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/animate.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/custom-animate.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/swiper.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome-all.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/jarallax.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery.magnific-popup.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/odometer.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/flaticon.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/owl.carousel.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/owl.theme.default.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/nice-select.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery-ui.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/aos.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/twentytwenty.css")" />

    @*bbps_services*@

    <link rel="stylesheet" href="@Url.Content("~/assets/bbps_serves/banner.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/bbps_serves/flaticon.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/bbps_serves/style.css")" />

    <!-- Module CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/banner.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/slider.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/footer.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/sliding-text.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/about.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/services.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/counter.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/before-and-after.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/office-location.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/pricing.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/blog.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/newsletter.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/why-choose.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/process.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/project.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/brand.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/contact.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/team.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/testimonial.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/google-map.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/module-css/faq.css")" />

    <!-- Template styles -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/responsive.css")" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        a {
            text-decoration: none !important;
        }
    </style>

</head>




<body>
    <div class="page-wrapper">
        <header class="main-header">
            <!-- <div class="main-menu__top">
                <div class="container">
                    <div class="main-menu__top-inner">
                        <ul class="list-unstyled main-menu__contact-list">
                            <li>
                                <div class="icon">
                                    <i class="icon-mail"></i>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:support@example.com">support@example.com</a>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="icon-phone-call"></i>
                                </div>
                                <div class="text">
                                    <p><a href="tel:1212345678900">+12 (123) 456 78900</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="icon-pin-1"></i>
                                </div>
                                <div class="text">
                                    <p>684 West College St. Sun City, USA</p>
                                </div>
                            </li>
                        </ul>
                        <div class="main-menu__top-social-box">
                            <h4 class="main-menu__top-social-title">Follow Us</h4>
                            <div class="main-menu__top-social">
                                <a href="#"><span class="icon-facebook-app-symbol"></span></a>
                                <a href="#"><span class="icon-pinterest"></span></a>
                                <a href="#"><span class="icon-linkedin-big-logo"></span></a>
                                <a href="#"><span class="icon-instagram"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <nav class="main-menu">
                <div class="main-menu__wrapper">
                    <div class="container">
                        <div class="main-menu__wrapper-inner">
                            <div class="main-menu__left">
                                <div class="main-menu__logo">
                                    <a href="home">
                                        <img src="~/assets/images/resources/LCRPAY_LOGO-qjZI7a_N.png" alt="Logo" class="img-fluid" style="width: 80px;">

                                    </a>

                                </div>
                            </div>
                            <div class="main-menu__main-menu-box">
                                <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                <ul class="main-menu__list">
                                    <li>

                                        <a href="@Url.Action("Index" , "Home")">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                    </li>



                                    <li class="dropdown">
                                        <a href="#">Services</a>
                                        <ul class="shadow-box">

                                            <li><a href="#">Education Fess</a></li>
                                            <li><a href="#">Rent Payment</a></li>
                                            <li><a href="#">Vendor's Payemnt</a></li>
                                            <li><a href="#">Credit Card Payout</a></li>
                                            <li><a href="@Url.Action("DTH_Recharge" , "Home")">DTH Recharge</a></li>
                                            <li><a href="@Url.Action("Mobile_Recharge" , "Home")">Mobile Recharge</a></li>
                                            <li><a href="@Url.Action("BBPS_Services" , "Home")">BBPS Services</a></li>
                                            <li><a href="#">LCR Money</a></li>
                                            <li><a href="#">Brand Voucher</a></li>
                                            <li><a href="#">Digital Gold</a></li>
                                            <li><a href="#">UPI-Scan & Pay</a></li>
                                            <li><a href="#">KYC Verification</a></li>
                                        </ul>
                                    </li>
                                    @*<li class="dropdown">
                                        <a href="#">Deign & Develop</a>
                                        <ul class="shadow-box">
                                            <li class="dropdown">
                                                <a href="#">Same Like LCRPAY?</a>
                                                <ul>
                                                    <li><a target="_blank" href="#">Create own B2c APP</a></li>
                                                    <li><a target="_blank" href="#">Create own B2b APP</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Mobile App Development</a></li>
                                            <li><a href="#">Website Development</a></li>
                                            <li><a href="#">Desktop App Development</a></li>

                                        </ul>
                                    </li>*@

                                    <li>
                                        <a href="@Url.Action("Contact_Us" , "Home")">Contact</a>
                                    </li>

                                    @*<li class="dropdown">
                                        <a href="#">Developer's hub</a>
                                        <ul class="shadow-box">
                                            <li><a target="_blank" href="https://documents.P7WlviqrzHej.com/">Api Documents</a></li>
                                            <li><a target="_blank" href="https://console.P7WlviqrzHej.com/login">Api Console</a></li>

                                        </ul>
                                    </li>*@
                                </ul>
                            </div>
                            <div class="main-menu__right">
                                <div class="main-menu__search-cart-box">
                                    <div class="main-menu__search-box">

                                        <a  href="#" class="main-menu__search searcher-toggler-box icon-android"><img height="25" width="25" src="@Url.Content("~/assets/images/extra/playstore.png")"></a>
                                    </div>
                                    @*<div class="main-menu__cart">
                                            <a target="_blank" href="https://apps.apple.com/us/app/LCRPAY/id1551973137?platform=iphone"><img height="25" width="25" src="@Url("assets/images/extra/appstore.png")"></a>
                                        </div>*@
                                </div>
                                <!--<div class="main-menu__btn-box">
                                    <div class="main-menu__btn">
                                        <a href="https://developer.P7WlviqrzHej.com/" target="_blank"> <span class="icon-diagonal-arrow"></span> Developer's API</a>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        @RenderBody()
        <!--Site Footer Two Start-->
        <footer class="site-footer-two">
            <div class="container">
                <div class="site-footer-two__inner">
                    <div class="site-footer-two__shape-1 img-bounce">
                        <img src="assets/images/shapes/site-footer-two-shape-1.png" alt="">
                    </div>
                    <div class="site-footer-two__top">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="site-footer-two__top-left">
                                    <div class="site-footer-two__logo-box">
                                        <div class="site-footer-two__logo">
                                            <a href="home"><img src="~/assets/images/resources/LCRPAY_LOGO-qjZI7a_N.png" width="100px" alt="LCRPAY"></a>
                                        </div>
                                        <p class="site-footer-two__text-1">
                                            At LCRPAY, we offer cutting-edge payment solutions  <br> designed specifically for rental payments and education fees. <br>
                                            also we are the best API service provider companies in India.
                                        </p>
                                    </div>
                                    <div class="site-footer-two__social-box">
                                        <h4 class="site-footer-two__social-title">Follow Us</h4>
                                        <div class="site-footer-two__social">
                                            <a target="_blank" href="#"><span class="icon-facebook-app-symbol"></span></a>
                                            <a href="#"><span class="icon-pinterest"></span></a>
                                            <a target="_blank" href="#"><span class="icon-linkedin-big-logo"></span></a>
                                            <a target="_blank" href="#"><span class="icon-instagram"></span></a>
                                        </div>
                                    </div>
                                    <p class="site-footer-two__copyright-text">
                                        Copyright © 2025 by <a href="https://themeforest.net/user/codearchives">LCRPAY.</a> All
                                        rights reserved.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-7">
                                <div class="site-footer-two__top-right">
                                    <div class="site-footer-two__widget-box">
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="100ms">
                                                <div class="footer-widget-two__quick-links">
                                                    <h4 class="footer-widget-two__title">Partner's Service</h4>
                                                    <ul class="footer-widget-two__quick-links-list list-unstyled">
                                                        <li>
                                                            <a target="_blank" href="#">
                                                                <span class="icon-next"></span>
                                                                API Console
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a target="_blank" href="#">
                                                                <span class="icon-next"></span>
                                                                API Documents
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <span class="icon-next"></span>
                                                                Merchant
                                                            </a>
                                                        </li>


                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <span class="icon-next"></span>
                                                                Distributor
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#">
                                                                <span class="icon-next"></span> FAQs
                                                                Page
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="200ms">
                                                <div class="footer-widget-two__essential-links">
                                                    <h4 class="footer-widget-two__title">Our Company</h4>
                                                    <ul class="footer-widget-two__quick-links-list list-unstyled">
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <span class="icon-next"></span>
                                                               Admin Login
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <span class="icon-next"></span>
                                                                About US
                                                            </a>
                                                        </li>
                                                        <li>

                                                            <a href="@Url.Action("Term_condition", "Home")">
                                                                <span class="icon-next"></span> Terms
                                                                & Condition
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Privacy_Policy", "Home")">
                                                                <span class="icon-next"></span>
                                                                Privacy Policy
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Return_Policy","Home")">
                                                                <span class="icon-next"></span>
                                                                Cancellation & Refund
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Delete_Account", "Account")">
                                                                <span class="icon-next"></span>
                                                                Delete Account
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="@Url.Action("Contact_Us", "Home")">
                                                                <span class="icon-next"></span>
                                                                Contact
                                                                Us
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="300ms">
                                                <div class="footer-widget-two__services-links">
                                                    <h4 class="footer-widget-two__title">Our Services</h4>
                                                    <ul class="footer-widget-two__quick-links-list list-unstyled">
                                                        <li>
                                                            <a href="#">
                                                                <span class="icon-next"></span>
                                                                Education Fees
                                                            </a>
                                                        </li>
                                                        <li><a href="#"> <span class="icon-next"></span>Vendor's Payment</a></li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="icon-next"></span>
                                                                Credit Card Payout
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="icon-next"></span>
                                                                Rent Payment
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="icon-next"></span>
                                                                Credit Bill Payment
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer-two__bottom">
                <div class="container">
                    <ul class="list-unstyled site-footer-two__contact-info">
                        <li>
                            <div class="site-footer__contact-info-icon">
                                <span class="icon-envelope"></span>
                            </div>
                            <div class="site-footer__contact-info-content">
                                <p>Email Address:</p>
                                <h5><a href="mailto:care@lcrpay.com">care@lcrpay.com</a></h5>
                            </div>
                        </li>
                        <li>
                            <div class="site-footer__contact-info-icon">
                                <span class="icon-phone-call"></span>
                            </div>
                            <div class="site-footer__contact-info-content">
                                <p>Phone Number:</p>
                                <h5><a href="tel:01169311284">01169311284</a></h5>
                            </div>
                        </li>

                        @*Working Time*@
                        @*<li>
                                <div class="site-footer__contact-info-icon">
                                    <span class="icon-calendar"></span>
                                </div>
                                <div class="site-footer__contact-info-content">
                                    <p>Working Time</p>
                                    <h5>Mon - Fri 11:00 - 18:00</h5>
                                </div>
                            </li>*@
                        <li>
                            <div class="site-footer__contact-info-icon">
                                <span class="icon-pin"></span>
                            </div>
                            <div class="site-footer__contact-info-content">
                                <p>Address:</p>
                                <h5>402, Fourth Floor, Sg Alpha Tower 2, Sector 9, Vasundhra Ghaziabad Uttar Pradesh 201012</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!--Site Footer Two End-->
    </div>

    <script src="@Url.Content("~/assets/js/jquery-latest.js")"></script>
    <script src="@Url.Content("~/assets/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jarallax.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.ajaxchimp.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.appear.min.js")"></script>
    <script src="@Url.Content("~/assets/js/swiper.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/assets/js/odometer.min.js")"></script>
    <script src="@Url.Content("~/assets/js/wNumb.min.js")"></script>
    <script src="@Url.Content("~/assets/js/wow.js")"></script>
    <script src="@Url.Content("~/assets/js/isotope.js")"></script>
    <script src="@Url.Content("~/assets/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery-ui.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.nice-select.min.js")"></script>
    <script src="@Url.Content("~/assets/js/twentytwenty.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.event.move.js")"></script>
    <script src="@Url.Content("~/assets/js/marquee.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.circleType.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.fittext.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.lettering.min.js")"></script>
    <script src="@Url.Content("~/assets/js/typed-2.0.11.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery-sidebar-content.js")"></script>
    <script src="@Url.Content("~/assets/js/countdown.min.js")"></script>
    <script src="@Url.Content("~/assets/js/aos.js")"></script>

    <script src="@Url.Content("~/assets/js/gsap/gsap.js")"></script>
    <script src="@Url.Content("~/assets/js/gsap/ScrollTrigger.js")"></script>
    <script src="@Url.Content("~/assets/js/gsap/SplitText.js")"></script>

    <!-- template js -->
    <script src="@Url.Content("~/assets/js/script.js")"></script>
    @RenderSection("scripts", required: false)


</body>
</html>
